[Desktop Entry]
Type=Application
Name=Proton Drive for Linux (Tray)
GenericName=Cloud Drive Tray
GenericName[de]=Cloud-Speicher im Infobereich
GenericName[en_GB]=Cloud Drive Tray
GenericName[es]=Bandeja de almacenamiento en la nube
GenericName[fr]=Zone de notification du stockage en ligne
GenericName[it]=Area di notifica archiviazione cloud
GenericName[nl]=Cloudopslag in systeemvak
GenericName[pl]=Dysk w chmurze w zasobniku
GenericName[pt_BR]=Bandeja de armazenamento em nuvem
Comment=Proton Drive status and quick actions (unofficial client)
Comment[de]=Status und Schnellaktionen für Proton Drive (inoffizieller Client)
Comment[en_GB]=Proton Drive status and quick actions (unofficial client)
Comment[es]=Estado y acciones rápidas de Proton Drive (cliente no oficial)
Comment[fr]=État et actions rapides de Proton Drive (client non officiel)
Comment[it]=Stato e azioni rapide di Proton Drive (client non ufficiale)
Comment[nl]=Status en snelle acties voor Proton Drive (onofficiële client)
Comment[pl]=Stan i szybkie działania Proton Drive (nieoficjalny klient)
Comment[pt_BR]=Status e ações rápidas do Proton Drive (cliente não oficial)
Exec=pdfs-tray
Icon=io.narl.proton-drive-linux
Terminal=false
Categories=Network;FileTransfer;GTK;
Keywords=proton;drive;cloud;sync;storage;files;backup;
NoDisplay=true
