[Desktop Entry]
Type=Application
Name=Proton Drive for Linux
GenericName=Cloud Drive
Comment=Files-on-demand Proton Drive (unofficial client)
Exec=pdfs-app
Icon=io.narl.proton-drive-linux
Terminal=false
Categories=Network;FileTransfer;GTK;
Keywords=proton;drive;cloud;sync;storage;files;backup;
StartupNotify=true
SingleMainWindow=true
