[Desktop Entry]
Type=Application
Name=Proton Drive for Linux
GenericName=Cloud Drive
GenericName[de]=Cloud-Speicher
GenericName[en_GB]=Cloud Drive
GenericName[es]=Almacenamiento en la nube
GenericName[fr]=Stockage en ligne
GenericName[it]=Archiviazione cloud
GenericName[nl]=Cloudopslag
GenericName[pl]=Dysk w chmurze
GenericName[pt_BR]=Armazenamento em nuvem
Comment=Files-on-demand Proton Drive (unofficial client)
Comment[de]=Proton Drive mit Dateien auf Abruf (inoffizieller Client)
Comment[en_GB]=Files-on-demand Proton Drive (unofficial client)
Comment[es]=Proton Drive con archivos bajo demanda (cliente no oficial)
Comment[fr]=Proton Drive avec fichiers à la demande (client non officiel)
Comment[it]=Proton Drive con file su richiesta (client non ufficiale)
Comment[nl]=Proton Drive met bestanden op aanvraag (onofficiële client)
Comment[pl]=Proton Drive z plikami na żądanie (nieoficjalny klient)
Comment[pt_BR]=Proton Drive com arquivos sob demanda (cliente não oficial)
Exec=pdfs-app
Icon=io.narl.proton-drive-linux
Terminal=false
Categories=Network;FileTransfer;GTK;
Keywords=proton;drive;cloud;sync;storage;files;backup;
Keywords[de]=proton;drive;cloud;sync;speicher;dateien;sicherung;synchronisation;
Keywords[en_GB]=proton;drive;cloud;sync;storage;files;backup;
Keywords[es]=proton;drive;nube;sincronizar;almacenamiento;archivos;copia de seguridad;
Keywords[fr]=proton;drive;cloud;nuage;synchronisation;stockage;fichiers;sauvegarde;
Keywords[it]=proton;drive;cloud;sincronizzazione;archiviazione;file;backup;
Keywords[nl]=proton;drive;cloud;synchronisatie;opslag;bestanden;back-up;
Keywords[pl]=proton;drive;chmura;synchronizacja;dysk;pliki;kopia zapasowa;
Keywords[pt_BR]=proton;drive;nuvem;sincronização;armazenamento;arquivos;backup;
StartupNotify=true
SingleMainWindow=true
